@page
@model TP4.Pages.ReservationsVoitures.ConsulterModel
@{
    ViewData["Titre"] = "Gestion des Réservations - Détails de la Réservation";
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Titre"]</h1>

    <div class="card">
        <div class="card-body">
            <dl class="row mb-3">
                <dt class="col-sm-2">Identifiant de la Réservation</dt>
                <dd class="col-sm-10">@Model.Reservation.Id</dd>

    <div class="card">
        <div class="card-body">
            <dl class="row mb-3">
                            <dt class="col-sm-2">Identifiant Voiture</dt>
                <dd class="col-sm-10">@Model.Voiture.Id</dd>

                <dt class="col-sm-2">Marque Voiture</dt>
                <dd class="col-sm-10">@Model.Voiture.Marque</dd>

                <dt class="col-sm-2">Prix Journalier de location de la Voiture</dt>
                <dd class="col-sm-10">@Model.Voiture.PrixJournalier $</dd>

                <dt class="col-sm-2">Description de la Voiture</dt>
                <dd class="col-sm-10">@Model.Voiture.Description</dd>

                <dt class="col-sm-2">Année de Fabrication de la Voiture</dt>
                <dd class="col-sm-10">@Model.Voiture.AnneeFabrication</dd>
            </dl>
        </div>
    </div>

                <dt class="col-sm-2">Date de Début de Réservation</dt>
                <dd class="col-sm-10">@Model.Reservation.DateDebut.ToString("yyyy-MM-dd")</dd>

                <dt class="col-sm-2">Date de Fin de Réservation</dt>
                <dd class="col-sm-10">@Model.Reservation.DateFin.ToString("yyyy-MM-dd")</dd>

                <dt class="col-sm-2">Prix de la Réservation</dt>
                <dd class="col-sm-10">@Model.Reservation.Prix ?</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-page="./Modifier" asp-route-id="@Model.Reservation.Id" class="btn btn-primary">Modifier</a>
        <a asp-page="./Supprimer" asp-route-id="@Model.Reservation.Id" class="btn btn-danger">Supprimer</a>
        <a asp-page="./Index" class="btn btn-secondary">Retourner à la liste</a>
    </div>
</div>