@page
@model TP4.Pages.ReservationsVoitures.ModifierModel
@{
    ViewData["Titre"] = "Gestion des Réservations - Modifier une Réservation";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Titre"]</h1>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group mb-3">
            <label asp-for="Reservation.Id" class="control-label font-weight-bold">Numéro d'Identification de la Réservation</label>
            <input asp-for="Reservation.Id" class="form-control" readonly />
        </div>

        <div class="form-group mb-3">
            <label asp-for="Reservation.DateDebut" class="control-label font-weight-bold">Date de Début</label>
            <input type="date" asp-for="Reservation.DateDebut" class="form-control" />
            <span asp-validation-for="Reservation.DateDebut" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Reservation.DateFin" class="control-label font-weight-bold">Date de Fin</label>
            <input type="date" asp-for="Reservation.DateFin" class="form-control" />
            <span asp-validation-for="Reservation.DateFin" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="IdVoiture" class="control-label font-weight-bold">Voiture</label>
            <select asp-for="IdVoiture" class="form-control">
                <option value="">-- Sélectionnez une voiture --</option>
                @foreach (var voiture in Model.ListeDeVoitures)
                {
                    <option value="@voiture.Id">@voiture.Marque | @voiture.Description | @voiture.PrixJournalier</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">Modifier</button>
            <a asp-page="./Index" class="btn btn-secondary">Retourner à la liste</a>
        </div>
    </form>
</div>