@page
@model TP4.Pages.Voitures.ModifierModel
@{
    ViewData["Titre"] = "Gestion des Voitures - Modifier";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Titre"]</h1>

    <div class="container mt-5">
        <h5 class="mb-3">Veuillez saisir les nouveaux renseignements pour la Voiture</h5>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input asp-for="Voiture.Id" value="@Model.Voiture.Id" type="hidden" />

                    <div class="row mb-3">
                        <label asp-for="Voiture.Marque" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <select asp-for="Voiture.Marque" class="form-control">
                                <option value="@Model.Voiture.Marque">@Model.Voiture.Marque</option>
                                @foreach (var marque in Model.ListeDeMarques)
                                {
                                        <option value="@marque">@marque</option>
                                }
                            </select>
                            <span asp-validation-for="Voiture.Marque" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Voiture.PrixJournalier" class="col-sm-2 col-form-label">Prix Journalier</label>
                        <div class="col-sm-10">
                            <input type="number" value="@Model.Voiture.PrixJournalier" asp-for="Voiture.PrixJournalier" class="form-control" />
                            <span asp-validation-for="Voiture.PrixJournalier" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Voiture.Description" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" value="@Model.Voiture.Description" asp-for="Voiture.Description" class="form-control" />
                            <span asp-validation-for="Voiture.Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label asp-for="Voiture.AnneeFabrication" class="col-sm-2 col-form-label">Année de Fabrication</label>
                        <div class="col-sm-10">
                            <input type="number" value="@Model.Voiture.AnneeFabrication" asp-for="Voiture.AnneeFabrication" class="form-control" />
                            <span asp-validation-for="Voiture.AnneeFabrication" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-3">
            <a asp-page="./Index" class="btn btn-secondary">Retourner à la liste</a>
        </div>
    </div>
</div>
