@page
@model TP4.Pages.Voitures.SupprimerModel
@{
    ViewData["Titre"] = "Gestion des Voitures - Supprimer";
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Titre"]</h1>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Identifiant</dt>
                <dd class="col-sm-10">@Model.Voiture.Id</dd>

                <dt class="col-sm-2">Marque</dt>
                <dd class="col-sm-10">@Model.Voiture.Marque</dd>

                <dt class="col-sm-2">Prix Journalier</dt>
                <dd class="col-sm-10">@Model.Voiture.PrixJournalier $</dd>

                <dt class="col-sm-2">Description</dt>
                <dd class="col-sm-10">@Model.Voiture.Description</dd>

                <dt class="col-sm-2">Année de Fabrication</dt>
                <dd class="col-sm-10">@Model.Voiture.AnneeFabrication</dd>
            </dl>
        </div>
    </div>

    <form method="post" class="mt-3">
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a asp-page="Index" class="btn btn-outline-dark">Retourner à la liste</a>
    </form>
</div>
